* {
  font-family: 'Bree Serif', serif;
  background-color: #ECECEA;
}

.typing-box {
  text-align: center;
}

.main-content {
  text-align: center;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-default .navbar-brand {
  color: white;
}

.btn-primary {
  color: #fff;
  background-color: #A33643;
  border-color: #A33643;
}
.image-parent {
}

.image {
  width: 20%;
  display: block;
  margin: auto;
}

.about-me {
  text-align: center;
}

.project {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  border-style: solid;
  border-color: black;
}

.projects {
  background-color: tomato;
  display: table;
}

.singleProject {
  align-content: center;
}

.projectImage {
  width: 100%;
}

.cv {
  text-align: center;
}

.title {
  text-align: center;
}

.subtitle {
  text-align: center;
}
