


.header{
  background-color: #2A1F64;
  color: white;
    margin-top: 6.5rem;

}

.header img{
  max-width: 100px;
  vertical-align: middle;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;

}

.footer {
  background-color: #2A1F64;
  text-align: center;
  color: white;
}


  /* Navbar */
  .navbar + .docs-section {
    border-top-width: 0; }
  .navbar,
  .navbar-spacer {
    position: fixed;
    top: 0px;
    display: block;
    width: 100%;
    height: 6.5rem;
    background: #635A7B;
    opacity: 0.9;
    z-index: 99;
    border-top: 1px solid #635A7B;
    border-bottom: 0px solid #635A7B; }
  .navbar-spacer {
    display: none; }
  .navbar > .container {
    width: 100%; }
  .navbar-list {
    list-style: none;
    margin-bottom: 0; }
  .navbar-item {
    position: relative;
    float: left;
    margin-bottom: 0; }
  .navbar-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: white; }
  .navbar-link.active {
    color: #33C3F0; }
  .has-docked-nav .navbar {
    position: fixed;
    top: 0;
    left: 0; }
  .has-docked-nav .navbar-spacer {
    display: block; }
  /* Re-overiding the width 100% declaration to match size of % based container */
  .has-docked-nav .navbar > .container {
    width: 80%; }

  /* Popover */
  .popover.open {
    display: block;
  }
  .popover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    top: 92%;
    left: -50%;
    -webkit-filter: drop-shadow(0 0 6px rgba(0,0,0,.1));
       -moz-filter: drop-shadow(0 0 6px rgba(0,0,0,.1));
            filter: drop-shadow(0 0 6px rgba(0,0,0,.1)); }
  .popover-item:first-child .popover-link:after, 
  .popover-item:first-child .popover-link:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  .popover-item:first-child .popover-link:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px; }
  .popover-item:first-child .popover-link:before {
    border-color: rgba(238, 238, 238, 0);
    border-bottom-color: #eee;
    border-width: 11px;
    margin-left: -11px; }
  .popover-list {
    padding: 0;
    margin: 0;
    list-style: none; }
  .popover-item {
    padding: 0;
    margin: 0; }
  .popover-link {
    position: relative;
    color: #222;
    display: block;
    padding: 8px 20px;
    border-bottom: 1px solid #eee;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.0rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: .1rem; }
  .popover-item:first-child .popover-link {
    border-radius: 4px 4px 0 0; }
  .popover-item:last-child .popover-link {
    border-radius: 0 0 4px 4px;
    border-bottom-width: 0; }
  .popover-link:hover {
    color: #fff;
    background: #33C3F0; }
  .popover-link:hover,
  .popover-item:first-child .popover-link:hover:after {
    border-bottom-color: #33C3F0; }


#about *{

  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.main {
  background-color: #E4E4E4;
}

#post h1{
  background-color: #2A1F64;
  color: white;
  border-color: white;
  border-width: 10px;
  text-align: center;
  border-radius: 0px 0px 15px 15px;

}

#post img{
  width: 100%;
}

#yoga img{
  width: 20rem;
  vertical-align: middle;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#blog *{

  border-radius: 50%;
  text-align: center;
  vertical-align: middle;

}

#panorama *{
  max-width: 100%;
  display: block;
  margin-left: 0;
  margin-right: 0;
}

  .contact-link {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: white;
    text-align: center; }
  .contact-link.active {
    color: #33C3F0; }